---
const { placeholder } = Astro.props; 
---

<div class="search-bar mt-4 mb-2">
    <input
        type="text"
        id="searchInput"
        placeholder={placeholder}
        class="px-4 py-2 border border-gray-300 rounded w-full"
    />
</div>