---
const { title = "Brotato Site" } = Astro.props;
import '../styles/global.css';
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body>
    <nav class="bg-white shadow-md border-b border-[var(--border-color)]">
      <div class="container mx-auto px-6 py-4">
        <ul class="flex gap-6 text-base font-medium text-[var(--text-main)]">
          <li><a href="/enemies" class="hover:text-[var(--accent-hover)]">Enemies</a></li>
          <li><a href="/items" class="hover:text-[var(--accent-hover)]">Items</a></li>
          <li><a href="/characters" class="hover:text-[var(--accent-hover)]">Characters</a></li>
          <li><a href="/stats" class="hover:text-[var(--accent-hover)]">Stats</a></li>
          <li><a href="/weapons" class="hover:text-[var(--accent-hover)]">Weapons</a></li>
        </ul>
      </div>
    </nav>
    
    
       
    <slot /> <!-- C'est ici que le contenu de la page va s'injecter -->
  </body>
</html>